<h1>User Profile:</h1>
<p> User Name: <%= @user.username %></p>
<%= button_to 'Edit Password', edit_user_path, method: :get %>
<h2>Return to Listings?</h2>
<%= button_to "Return to Listings?", listings_path, method: :get %>
