<h1>User Profile:</h1>
<p> User Name: <%= @user.username %></p>
<p> User Rating: <%= @user.rating_id %></p>
<%= link_to 'Edit Password', edit_user_path %>
<h2>Checkout their Listings?</h2>
<%= link_to "listings", listings_path %>
