<h2>Welcome to Slope-Side-Sales!</h3>

<%= image_tag "skier.png" %>


<h5>
	Welcome to the one stop shop for all your favorite used gear!
<br><br><br>
Slope Side Sales was inspired by a couple of snow loving bums wanting to make it easier for all
to sell and buy lightly used gear for a great price.
<br><br><br>
Checkout our listings for available products, but make sure to login/create a new profile to get your
hands on these goods!
<br><br><br>
Happy browsing!
<br>
-S.S.S
</h5>
