<h1> Your Cart:</h1>
<% @cart.each do |cart| %>
 <%= if cart.listing %>
<li> probably wont work need to think out how to make work <%= link_to cart.listing.title, listing_path(listing) %></li>
<% end %>
