<h1><%= @user.username %>'s cart</h1>
<% @cart.listings.each do |listing| %>
<li>
  <%= link_to listing.title, listing_path(listing) %>
</li>
<% end %>
<%= button_to "Checkout", "/checkout", method: :get %>
<br>
<%= button_to "Return to listings?", listings_path, method: :get %>
